 .App {
  margin-left: 10%;
  font-family: 'Roboto';
  font-size: 18px;
}
 .imagePerson {
   width: 400px;
   height: 300px;
 }
 .result {
   margin-left: 7%
 }
 .button:disabled{
   display: none;
 }
 .picked {
   text-decoration: dimgrey;
   margin-left: 2%;
   font-weight: normal;
 }
.headerQuiz {
  margin-left: 9%;
}
.question {
  margin-left: 2%;
  font-weight: bolder;
}
.image {
  width: 300px;
  height: 200px;
}

.buttons-flex {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin-bottom: 1%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
